POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=chaarchulha
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/chaarchulha

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=